<configuration>

    <appender name="FILE2" class="ch.qos.logback.core.rolling.RollingFileAppender" >
        <file>./logs/logFile.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--daily rollover -->
            <fileNamePattern>./archives/logFile.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- keep 30 days' worth of history capped at 3GB total size -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>

        </rollingPolicy>

        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} -%kvp- %msg%n</pattern>
        </encoder>
    </appender>


    <!-- Recommendation: place status listeners towards the the top of the configuration file
     Enabling output of status data usually goes a long way in the diagnosis of issues with logback.
      Note that errors can also occur post-configuration, e.g. when a disk a full or log files cannot
      be archived due to permission errors. As such, it is highly recommended that you register a StatusListener
     -->
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

    <!-- Insert the current time formatted as "yyyyMMdd'T'HHmmss" under
       the key "bySecond" into the logger context. This value will be
       available to all subsequent configuration elements. -->
    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <!-- use the previously created timestamp to create a uniquely
         named log file -->
        <file>./logs/myApp-${bySecond}.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] -%kvp- %msg%n</pattern>
<!--            outputs the date, level, thread name, logger name, file name and line number where the log request is located, (kvp-keyvalue pairs?)the message and line separator character(s).-->
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE2" />
    </root>
</configuration>